body {
    font-family: 'Arial', sans-serif;
    background-color: #e4b5e4;
    color: #333;
}

header {
    background-color: #7438b8;
    color: #e4b5e4;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
}

p {
    font-size: 24px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 200px;
}
